# about habitat scene
INVALID_SCENE_ID = []

API_MODE = "qwen" # "gpt" or "qwen"

Qwen_END_POINT = "https://dashscope.aliyuncs.com/compatible-mode/v1"
Qwen_OPENAI_KEY = "sk-ws-H.RPPLRED.rQPE.MEQCICVGrNPPaQ59Yta-RS0rwxMFtTeUmGcje54-zbKPIr8RAiAjNhRiUGJsiU2Yz1eXkEhogE-8qaY5QhUbRG22u1o8pg"

GPT_END_POINT = "YOUR_GPT_ENDPOINT"
GPT_OPENAI_KEY = "YOUR_GPT_API_KEY"